body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rotate10 {
  transform: rotate(10deg);
}

.antirotate10 {
  transform: rotate(-10deg);
}

.container {
  display: flex;
  height: 100vh;
}

.section {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  transition: flex-grow 0.5s ease;
  --background-color: red;
}

#section1 {
  background-image: url("image1.jpg");
}

#section2 {
  background-image: url("image2.jpg");
}

#section3 {
  background-image: url("image3.jpg");
}

#section4 {
  background-image: url("image4.jpg");
}

.section:hover {
  flex-grow: 3;
}

#main {
  display:flex;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  height: 100vh; /* Hauteur de la fenêtre visible */
}

#section1 p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.image-container {
  height: auto; /* Supprime la hauteur fixe */
  max-height: 100vh; /* Définit une hauteur maximale */
}