body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(230, 26, 26);
}

.rotate10 > * {
  transform: rotate(10deg) translateZ(0); /* Added translateZ(0) for 3D preservation */
  transform-origin: center center;
}

.antirotate10 {
  transform: rotate(-10deg);
}

.container {
  display: flex;
  height: 100vh;
}

.div {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divmain {
  display:flex;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  height: 100vh; /* Hauteur de la fenêtre visible */
  width: 110%;
}

.image-container {
  height: auto; /* Supprime la hauteur fixe */
  max-height: 100vh; /* Définit une hauteur maximale */
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

p {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.separateur {
  height: 120vh;
  background-color: darkblue;
  width: 2px;
  z-index: 1;
}

.img {
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  transition: all 0.5s ease;
}

.icon {
  height: 10vh;
  transition: height 0.5s ease;
}



/*/ Section /*/

.section {
  flex-grow: 1;
  background-position: center;
  transition: flex-grow 0.5s, height .5s ease;
  justify-content: flex-start; 
  overflow: hidden;
  height: 110vh;
  will-change: height, flex-grow, transform, filter;
}

.section:hover .icon {
  height: 20vh;
  transition: height 0.5s ease;
}

.section:hover {
  flex-grow: 6;
  height: 120vh;
}

.section:hover .img {
  filter: blur(0px) brightness(80%);
}

.section:not(:hover) .img{
  filter: blur(5px) brightness(40%);
}
