body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rotate10 > * {
  transform: rotate(10deg) translateZ(0); /* Added translateZ(0) for 3D preservation */
  --transform-origin: center center;
}

.antirotate10 {
  transform: rotate(-10deg);
}

.container {
  display: flex;
  height: 100vh;
}

.section {
  flex-grow: 1;
  background-position: center;
  transition: flex-grow 0.5s ease;
  --background-color: red;
  justify-content: flex-start; 
  overflow: hidden;
  height: 110vh;
}

.div {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.section:hover {
  flex-grow: 5;
}

#main {
  display:flex;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
  height: 100vh; /* Hauteur de la fenêtre visible */
  overflow: hidden; /* Supprime les barres de défilement */
}

.image-container {
  height: auto; /* Supprime la hauteur fixe */
  max-height: 100vh; /* Définit une hauteur maximale */
}
/*
#div1 {
  background-image: url("image1.jpg");
}

#div2 {
  background-image: url("image2.jpg");
}

#div3 {
  background-image: url("image3.jpg");
}

#div4 {
  background-image: url("image4.jpg");
}
*/

h2 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

p {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.separateur {
  height: 100vh;
  background-color: darkblue;
  width: 2px;
}

.img {
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}